<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prueba.utilidades2">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens= "true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        />
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-3940256099942544~3347511713"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity android:name=".Main3Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Main4Activity"
            android:parentActivityName=".Main4Activity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".Main5Activity"
            android:parentActivityName=".Main5Activity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".Main6Activity"
            android:parentActivityName=".Main6Activity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>